/*-------Manager------*/
.cont {
    text-align: center;
    color: white;
  }
  
  .order {
    width: 320px;
    position: relative;
    display: inline-grid;
    padding: 5px;
    text-align: left;
  }
  
  .about_order {
    background-color: #6b80d3;
  }
  
  text.name {
    font-size: large;
    margin-left: 5px;
  }
  
  .about_order img {
    float: right;
  }
  
  .about_client {
    font-size: small;
  }
  
  .check_done {
    float: right;
    margin: 5px;
  }
  
  .aboutC {
    text-align: right;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: small;
    color: white;
  }
  
  .about {
    text-align: right;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: small;
    color: white;
    float: right;
  }
  
  .order_details {
    background-color: #8598e7;
    padding-top: 8px;
  }
  
  table {
    width: -webkit-fill-available;
  }
  
  td {
    text-align: right;
  }
  
  td.name {
    text-align: left;
    padding-left: 5px;
  }
  