/* structure */
html,
body {
  height: 100%;
}

p {
  text-align: justify;
}


#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  z-index: 1000;
}

#navbar img {
  width: 40px;
  height: 40px;
}

#login    .dropdown-menu .form-group input,
#register .dropdown-menu .form-group input {
  width: 200px;
}


#sidebar {
  position: fixed;
  margin-left: -250px;
  top: 50px;
  width: 250px;
  height: 100%;
  z-index: 1000;
}

#sidebar.active {
  margin-left: 0px;
}

#sidebar-dismiss {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  text-align: center;
}

#sidebar a {
  display: block;
}
#sidebar a[data-toggle="collapse"] {
  position: relative;
}


#content {
  flex: 1 0 auto;
  margin-top: 5rem;
}


#footer {
  flex-shrink: none;
  text-align: center;
}



/* colours */
:root {
  --body-color: #fafafa;
  --p-color: #999999;  
  
  --navbar-color: #7386d5;
  --navbar-accent-color: #6b80d3;
  --navbar-border-color: #455bb1;

  --sidebar-color: #7386d5;
  --sidebar-header-color: #6d7fcc;
  --sidebar-accent-color: #5d6baa;
  --sidebar-text-color: #ffffff;
}



/* style */
body {
  font-family: sans-serif;
  background: var(--body-color);
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: var(--p-color);
}



a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}


#navbar {
  background-color: var(--navbar-color);
}
#navbar-content > * {
  white-space: nowrap;
  padding: 9px;
  align-self: center;
}
#navbar .brand {
  padding: 5px;
}
#navbar .button {
  border-radius: unset;
}
#navbar .button .active,
#navbar .button:hover {
  background-color: var(--navbar-accent-color);
  border-bottom: 4px solid var(--navbar-border-color);
}

#login    .dropdown-menu .form-group label,
#register .dropdown-menu .form-group label {
  margin-bottom: 2px;
  font-size: 12px;
}


#sidebar {
  background: var(--sidebar-color);
  color: var(--sidebar-text-color);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: var(--sidebar-header-color);
}

#sidebar-dismiss {
  line-height: 35px;
  cursor: pointer;
  background: var(--sidebar-color);
}
#sidebar-dismiss:hover {
  background: var(--sidebar-text-color);
  color: var(--sidebar-color);
}

#sidebar ul p {
  padding: 10px;
  color: var(--sidebar-text-color);
}

#sidebar ul.components {
  padding: 20px 0px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
}
#sidebar ul li a:hover {
  background: var(--sidebar-text-color);
  color: var(--sidebar-color);
}

#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: var(--sidebar-accent-color);
}



/* animations */
#sidebar,
#sidebar-dismiss,
#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  -webkit-transition: all 0.3s; /* Safari */
  -o-transition: all 0.3s; /* Opera */
  transition: all 0.3s; /* Firefox, Chrome, ... */
}



/* utilities */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.spacer {
  flex-grow: 1;
}



/*dodato da bi se videli linkovi za prijavu/registraciju*/
.btn.btn-link.p-0 {
  color:black;
}

/*--------Basket----------*/
.basket {
  padding-left: 5px;
}
.amount {
  text-align: right;
}
.price {
  text-align: right;
}
.amount_ordered {
  text-align: center;
}

/*-------OrderClient/Manager/Cook------*/
.cont {
  text-align: center;
  color: white;
}

.order {
  width: 320px;
  position: relative;
  display: inline-grid;
  padding: 5px;
  text-align: left;
}

.about_order {
  background-color: #6b80d3;
}

text.name {
  font-size: large;
  margin-left: 5px;
}

.about_order img {
  float: right;
}

.about_client {
  font-size: small;
}

.check_done {
  float: right;
  margin: 5px;
}

.aboutC {
  text-align: right;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: small;
  color: white;
}

.about {
  text-align: right;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: small;
  color: white;
  float: right;
}

.order_details {
  background-color: #8598e7;
  padding-top: 8px;
}

table {
  width: -webkit-fill-available;
}

td {
  text-align: right;
}

td.name {
  text-align: left;
  padding-left: 5px;
}


/*------Administration----*/

.contA {
  text-align: center;
  color: black;
}

.contA p {
  color: black;
}

table.adm {
  background-color: #8598e7;
  border: 1px solid black;
  width: inherit;
}

.admin {
  margin-bottom: 10px;
}

.menag {
  margin-bottom: 10px;
}

.cook {
  margin-bottom: 10px;
}

.buyer {
  margin-bottom: 10px;
}

.tabela td,th{
  text-align: left;
  padding-left: 25px;
}

.naslov{
  font-size: 20px;
  color:black;
  font-weight: 400;
}

.linija{
  border:0.5px solid #8598e7;
}

/*/////////////////////////////////////////////////////////////*/
/*body{
background: url("jabuka.jpg") 0 0 / cover fixed no-repeat;
  overflow: hidden;
}*/


.box:hover {
  /*content: '';*/
  background: url(prikazjela/jabuka.jpg);
  filter: blur(4px);
  /*position: absolute;*/
  /*left:0; top:0; right:0; bottom:0;*/
 /* z-index: -1;*/
  pointer-events: none;
  color:black;
  background-position: center;
  background-size: cover;
}

.box{
  background: url(prikazjela/jabuka.jpg);
  background-position: center;
  background-size: cover;
    width:360px;
    height:300px;
  /*left:calc( 50% - 250px );
  top:20%;*/
    /*position:absolute;*/
/*	border-radius:5px;
    box-shadow: 0 0 15px rgba(black, .4);
    border:1px solid rgba(white,.1);*/
  color: black;
  font: 1.5vw Arial;
  /*display:flex;*/
 /* align-items: center;
  justify-content: center;*/
 /* text-shadow:0 2px 8px rgba(black, .5);*/
}
.ar-image {
  position: relative;
  height: 300px;
  width: 360px;
}
  .article-image {
    /*Ako zelis da menjas univerzalan ispis opisa
     *dopisuj ovde, a ako zelis pojedine tipove
     *onda koristi npr. za p:
     *article image > p  {} */
    height: 300px;
    width: 360px;
    color: black !important;
    font-size: 17px !important;
    font-weight: bold;
  }

 .article-image p {
    /*font-size: 1.1em;*/
    font-size:15px;
    line-height: 1.7em;
    color: black;
  }
    .article-image:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-position: center !important;
      background-size: cover !important;
      background-image: url(prikazjela/jabuka.jpg);
      
      /*-webkit-filter: grayscale(0) blur(0);
      filter: grayscale(0) blur(0);*/
      /*transition: .4s ease-in-out;*/
    }

    .article-image:hover:before {
      filter:  blur(5px) !important;
    }
      /*Dovoljno je ovo uraditi samo
       *za div jer su svi ostali tipovi
       *elemenata okruzeni divovima*/
      .article-image > div {
        display: none;
      }  
      .article-image:hover > div {
        display: flex;
        /*samo postaje vidljivo,
         *svi ostali vidovi sredjivanja
         *se rade bez:hover*/
      }
        /*Base je prvi red*/
        .base {     
          display: flex;
          padding: 10px;
          margin: 0px;
          height: 260px;
        }
          /*About je prvih 10 kolona*/
          .about1 {
            padding: 0px;
          }
          /*Amount je ono sa +/-*/
          .amount {
            text-align: right;
          }
        /*Price je poslednji red*/  
        .price {
          padding: 10px;
        }

  
  

.dish_temp {
  width: 280px;
  position: relative;
  display: inline-grid;
  padding: 5px;
  /*text-align: left;*/
  margin-right: 92px;
  
}


.dish {

}
